:root {
    --mainColor:#2947A9;
    --orange: #F9995D;
    --sectionColor: #F6F8F7;
}
body {
    font-family: 'Roboto', sans-serif;
}
#contact {
    color: var(--orange);
}
.header {
    height: 100vh;
    background-color: var(--mainColor);
}
.aboutUs .box {
    border: solid 2px #eee;
}
.aboutUs .box .fa-2x {
    color: var(--orange);
}
.about {
    background-color: var(--mainColor);
}
.about a{
    background-color: white;
    color: var(--mainColor);
}
.about a:focus{
    background-color: white;
    color: var(--mainColor);
}
.about a:hover{
    background-color: white;
    color: var(--mainColor);
}
@media (min-width: 992px) {
    .about {
        position: absolute;
        top: 200%;
        left: 60%;
    }
    .header {
        background-image: url(../imgs/header.jpg);
        background-size: cover;
    }
    .ContactUs .con {
        padding: 0 250px;
    }
    .ContactUs .con p:nth-child(2) {
        padding: 0 200px;
    }
    .footer .input-group {
        padding: 0 0 0 200px;
    }
    .footer .N {
        padding: 0 0 0 200px;
    }
    .footer .social {
        padding: 0 0 0 200px;
    }
    /* CUSTOM WIDTHS */
    .w-lg-10 { width: 10%!important; }
    .w-lg-15 { width: 15%!important; }
    .w-lg-20 { width: 20%!important; }
    .w-lg-50 { width: 50%!important; }
    .w-lg-40 { width: 40%!important; }
    .w-lg-30 { width: 30%!important; }
    .w-lg-70 { width: 70%!important; }
}
.services {
    background-color: var(--sectionColor);
}
.services .img::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #E0E3EB;
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 70px;
    margin-left:-50px;
}
.services .dimg::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 70px;
    margin-left:-50px;
}
.dark {
    background-color: var(--mainColor);
    color: white;
}
.imgLight {
    color: var(--mainColor);
}
.stats h1 {
    color: var(--mainColor);
}
.projects .box {
    background-color: var(--mainColor);
    cursor: pointer;
}
.projects .box p {
    cursor:text ;
}
.ContactUs {
    background-color: var(--sectionColor);
}
.footer span {
    color: var(--mainColor);
}
.footer .icons a {
    cursor: pointer;
}
.footer .main-btn {
    background-color: var(--orange);
    border: var(--orange);
}
.ContactUs .main-btn {
    background-color: var(--mainColor);
}
.rights {
    background-color: var(--mainColor);
}